.parentbox{
    width:100px;
    height: 100px;
    background-color: aqua;
    font-size: 10px;
}

.childbox{
    height: 50px;
    width: 50%;
    margin: 10%;
    font-size: 1em;
    background-color: blue;
    width:5rem; 
    height: 100vh;
    height: 10vh;
    
}