div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border:2px solid black;
    display: inline-block;

}

.box1{
    position: static;
    top:50px;
    right:110px;
    background-color: red;
    z-index: 1;
}
#box2{
    position: relative;
    top:20px;
    left:-100px;
    z-index: -1;
    background-color: blue;
}

#box3{
    position: absolute;
    position: sticky;
    top:30px;
    background-color: antiquewhite;
}
#box4{
    position: fixed;
    right: 10px;
    bottom: 0;
    width: 100%;
}

body{
    background-image: url("https://images.pexels.com/photos/19056314/pexels-photo-19056314/free-photo-of-ess-in-the-woods.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
 background-size: cover;
 background-size: contain;
 background-repeat: no-repeat;
 background-size: auto;
}